<address>								
  <strong>king Santi Claude</strong><br>	               							
  67 royaltiy ave, <br>
  poshon, s17 7ep<br>
  <abbr title="Phone">P:</abbr> 07893 576120
</address>
 
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">claude@changsta.com</a>
</address>				

<address>
<strong>sofia ward</strong><br>
  28 richrey st,<br>
  poshon, Y92 3PO<br>
  <abbr title="Phone">P:</abbr> 07285 068140
</address>
 
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">sofia@sofiaward.com</a>
</address>

<address>               
  <strong>perez</strong><br>                
  footy rd, <br>
  poshon, Q70 1FH<br>
  <abbr title="Phone">P:</abbr> 01835 461908
</address>
 
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">ledgefaulkner@ymail.com</a>
</address>      
