      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Dear readers,</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Safari bug warning!</h2>
          <p class="text-danger">As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>







<!--

<P class="lead">Welcome to the singalings.I am your king,Santi claude.</br>
	I have other friends such as pope Lorence and president bubblchops. 

	if you are good in the singalings you will get more stuff in your room<br/>
	
	i will be speeking to you again so don't worry<br/>
	bye,King Santi Claude</P>


<div id="singalings-carousel" class="carousel slide" style=width:610px>

-->
  

  <!-- Indicators -->

  <!--
  <ol class="carousel-indicators" style="top:370px">
    <li data-target="#singalings-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#singalings-carousel" data-slide-to="1"></li>
    <li data-target="#singalings-carousel" data-slide-to="2"></li>
    <li data-target="#singalings-carousel" data-slide-to="3"></li>
    <li data-target="#singalings-carousel" data-slide-to="4"></li>
    <li data-target="#singalings-carousel" data-slide-to="5"></li>
    <li data-target="#singalings-carousel" data-slide-to="6"></li>
    <li data-target="#singalings-carousel" data-slide-to="7"></li>
  </ol>


  <div class="carousel-inner">
    <div class="item active">
      <img src="images/gallery/fashionburt1.jpg" width="600" height="400" alt="Fashion Burt">
      <div class="carousel-caption">
        
        <p style="color:white">We love Fasion Burt</p>
      </div>
    </div>

     <div class="item">
      <img src="images/gallery/clocky.jpg" width="600" height="400" alt="Clocky">
      <div class="carousel-caption">
        <p style="color:white">Something about clocky</p>
      </div>
    </div>   

    <div class="item">
      <img src="images/gallery/hongadong1.jpg" width="600" height="400" alt="hongadong">
      <div class="carousel-caption">
        <p style="color:white">I love him</p>
      </div>
    </div>

    <div class="item">
      <img src="images/gallery/dixy.jpg" width="600" height="400" alt="dixy">
      <div class="carousel-caption">
        <p style="color:white">I love him</p>
      </div>
    </div>

    <div class="item">
      <img src="images/gallery/eggman.jpg" width="600" height="400" alt="egg man">
      <div class="carousel-caption">
        <p style="color:white">I love him</p>
      </div>
    </div>

    <div class="item">
      <img src="images/gallery/hongadong2.jpg" width="600" height="400" alt="hongadong">
      <div class="carousel-caption">
        <p style="color:white">I love him</p>
      </div>
    </div>


    <div class="item">
      <img src="images/gallery/fashionburt2.jpg" width="600" height="400" alt="fashion burt">
      <div class="carousel-caption">
        <p style="color:white">I love him</p>
      </div>
    </div>

  </div>



  <a class="left carousel-control" href="#singalings-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-search"></span>
  </a>
  <a class="right carousel-control" href="#singalings-carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
	

	<h3> knowing what the singaling people do. </h3>
	<img src="images/punchball.jpg">
	<p class="lead">Sport: in the singalings we play a game called punchball The rulles are there are 9 players a side. you have one ball called the puncher.there are 2 hoops iver side of the pitch. All youy have to do is try to go past the players and throw the ball in the hoops 100 points if you scoore from 40 yards away. If you scoore from 50 
		yards you get 200 points. who ever gets to 5000 points first they win. Looks easy. Well it's not only sertain players can cross the half way line.</p>
	<div class="alert alert-block">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>tip</h4>
		if you pass the ball to other players more than 30 times in  the first 5 minites you get an extra 200 points.
	</div>
	<h3> money </h3>
	<p class="lead">mingming:In the singalings our money called mingming.
		<div class="alert alert-block">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>tip</h4>
		every week you get 200 mingming if your good :]
	</div>
	<div class="alert alert-success">
  horray!!! you know most of the basics.scroll down to learn more
</div>
<h3>the makers</h3>
<p class="lead">the manger is claude chang but in the singalings he is commonly refered to king  santi claude.</p>
<p class="lead">the second is mark. which in the singalings his name is preident bubblchops.</p>
<p class="lead"> next it's daneil .which is pope lorance.</p>
<p class="lead">and finally it's sofia ward.</p>
<p class="lead">they are the main makers of the singalings</p>
<img src="images/king-hat.jpg">   <img src="images/staff.jpg">					
<img src="images/whouse.jpg">
<div class="alert alert-block">
<button type="button" class="close" data-dismiss="alert">&times;</button> 
<h4>tip</h4>
	if you scroll to the top it says adress.right.click on it. email claude@changsta.com if you want to make up your own house adress and phone number but you must give us you own email not a fake one or we wont put you up on the adress page.

-->