<!DOCTYPE html>
<html lang="en">
  {{> _header}}
  

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <ul class="nav nav-justified">
            <li {{#if home}}class="active"{{/if}}><a href="/">Home</a></li>
            <li {{#if address}}class="active"{{/if}}><a href="/address">Address</a></li>
            <li {{#if hallOfFame}}class="active"{{/if}}><a href="/halloffame">Hall of fame</a></li>
            <li {{#if register}}class="active"{{/if}}><a href="/register">Register</a></li>
            <li {{#if aboutme}}class="active"{{/if}}><a href="/music">Music</a></li>
            <li {{#if login}}class="active"{{/if}} class="right"><a href="/login">Login</a></li>
        </ul>
      </div>


      {{{body}}}




    {{> _footer}}


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

