﻿<form action="/login" method="post" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="firstName">Email</label>
        <div class="controls">
            <input type="text" id="email" name="email" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Log In</button>
        </div>
    </div>
</form>

