<h1>{{title}}</h1>

{{#if confirm}}
  <h3>Thank you for registering!</h3>
{{else}}
  <form action="/register/confirmation" method="post" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="firstName">First Name</label>
      <div class="controls">
        <input type="text" id="firstName" name="firstName" placeholder="First Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="lastName">Last Name</label>
      <div class="controls">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="Email">
      </div>
    </div>  
      <div class="control-group">
          <label class="control-label" for="email">password</label>
          <div class="controls">
              <input type="text" id="password" name="password" placeholder="password">
          </div>
      </div>  

    <div class="control-group">
      <div class="controls"> 
        <button type="submit" class="btn">Register</button>
      </div>
    </div>
  </form>
{{/if}}

 {{#if users}}
  <h4>People who have already signed up</h4>
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    {{#each users}}
    <tr>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
    </tr>
    {{/each}}
  </table>
  {{/if}}    





